<p>schedule-table works!</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Week Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Week </th>
      <td mat-cell *matCellDef="let week"> {{week.number}} </td>
    </ng-container>

    <ng-container matColumnDef="dates">
      <th mat-header-cell *matHeaderCellDef> Dates </th>
      <td mat-cell *matCellDef="let week"> {{week.dates}} </td>
    </ng-container>

    <ng-container matColumnDef="course1">
      <th mat-header-cell *matHeaderCellDef> Course 1 </th>
      <td mat-cell *matCellDef="let week"> {{week.course1}} </td>
    </ng-container>

    <ng-container matColumnDef="course2">
      <th mat-header-cell *matHeaderCellDef> Course 2 </th>
      <td mat-cell *matCellDef="let week"> {{week.course2}} </td>
    </ng-container>

    <ng-container matColumnDef="course3">
      <th mat-header-cell *matHeaderCellDef> Course 2 </th>
      <td mat-cell *matCellDef="let week"> {{week.course3}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
